
es-button {
    mso-style-priority: 100 !important;
    text-decoration: none !important;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    mso-line-height-rule: exactly;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #31CB4B;
    border-width: 10px 20px 10px 20px;
    display: inline-block;
    background: #31CB4B;
    border-radius: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
    width: auto;
    text-align: center;
}